.carousel {
  position: relative;
  height: 850px;
  z-index: 1;

  &:hover {
    .carousel__prev,
    .carousel__next {
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-lg) {
    height: 514px;
  }

  &__img {
    position: absolute !important;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__sutitle-bar {
    width: 3.5rem;
    height: 0.25rem;
    background-color: $colour-primary;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 620;
    line-height: 1.2;
    font-size: 3.75rem;
    @media (max-width: $breakpoint-lg) {
      font-size: 2.75rem;
    }
    
  }

  &__desc {
    font-size: 1rem;
    @media (max-width: 754px) {
      display: none;
    }
  }

  &__content {
    width: 60%;
    padding-top: 288px;
    @media (max-width: $breakpoint-lg) {
      padding-top: 9rem;
    }
    @media (max-width: 775px){
      width: 90%;
      padding-top: 8rem;
    }
  }

  &__btn {
    transition: background-color 0.3s ease-in-out;
    // padding: 1rem 3rem;
    &.hover-bg:first-child {
      &:hover {
        background-color: $colour-secondary;
      }
    }
    &.hover-bg:last-child {
      &:hover {
        background-color: $colour-primary;
      }
    }
  }

  &__prev {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.401);
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: 4rem;
    cursor: pointer;
    opacity: 0;
  }

  &__next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.401);
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    right: 4rem;
    cursor: pointer;
    opacity: 0;
  }

  &--1 {
    .container {
      justify-content: flex-end;
    }

    .carousel__btn{
      &:first-child{
         padding: 1rem 2.25rem;
      }
      &:last-child{
         padding: 1rem 2.25rem;
      }
    }

    @media (max-width: 775px) {
      .container {
        justify-content: flex-start;
      }
    }

  }

  &--2 {

    .container {
      justify-content: flex-start;
    }

    .carousel__btn{
      &:first-child{
         padding: 1rem 3rem;
      }
      &:last-child{
         padding: 1rem 2.25rem;
      }
    }

    @media (max-width: 775px) {
      .container {
        justify-content: flex-start;
      }
    }
    @media (max-width: 578px) {
      .carousel__btn{
        &:first-child{

        }
      }
    }
  }

}
