.top-bar{
    background-color: $colour-secondary;
    color: #fff;
    font-size: $font-sm;

    &__link{
        &:hover{
            color: $colour-secondary;
        }
    }

    .separator{
        height: 1rem;
        background-color: lighten($color: gray, $amount: 10);
        width: 1px;
        margin-left: 1rem;
        opacity: .5;
    }
}