// colors
$colour-secondary: #263144;
$colour-primary: #2E4A8A;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-black : #000000;
$colour-invalid: #DB464B;
$color-text-link : #565656;
$colour-light: #787878;

$linear-color-to : #D1903B;
$linear-color-from : #FFD193;

// font size
$font-sm : 0.8125rem ; // 14 px
$font-md : 1.125rem; // 18px
$size-container : 1440px;
$padding-container : 200px;


$height-header : 93px;

//font
$font-principal : 'Roboto', sans-serif;
$font-secondary : 'Poppins', sans-serif;
$font-banner: 3.375rem;
$font-banner-sm : 2.950rem;

//
$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

// size
$w-logo : 2.1875rem;
$w-top-bar : 2.28125rem;
$padding-banner : 6.5625rem;
$padding-banner-md : 3.5625rem;
$padding-banner-sm : 1rem;

// breakpoints
$breakpoints-up : (medium : 40rem,large :1198px,x-large : 87.5rem);
// 398px, 639px,1023px,710px,1399px
$breakpoints-down : (x-small: 398px,small : 39.9375rem,pre-small:44.375rem,medium : 63.9375rem,large : 1198px);

$breakpoint-lg : 1198px;
