*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: $font-principal;
}

a,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

ul,li{
    list-style: none;
}

// visibility
.hide-for-mobile{
    // hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    // hide for desktop viewport widths
    @include breakpoint-up(large){
        display: none;
    };
}