.about-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 40px !important;
    padding-right: 0px !important;
    padding-bottom: 40px !important;
    padding-left: 0px !important;
}