.bloquote-track-text{
    padding: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    line-height: 26px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 20px;
    margin: 0 0 1rem;
    text-align: center!important;
}