.card-content-title{
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    color: #fff;
    margin-bottom: 0;
    bottom: -11px;
    width: 100%;
    line-height: 24px;
    display: inline-block;
    transition: all .4s ease-in-out;

}