.col-card-content{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: relative;
    padding: 29px 15px 25px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
}