.data-tooltip-after::after{
    z-index: 1000;
    padding: 8px;
    width: 160px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
    background-color: #2d4a8a;
    bottom: 78%;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}