.footer-first-div{
    padding: 40px 0 40px 0;
    background-color: #2d4a8a;
    color: #fff;
    background-image: url(../../assets/row-bgimage-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    box-sizing: border-box;
}
