.footer-second-div{
        position: relative;
        color: rgba(255, 255, 255, 0.8);
        background-image: url(../../assets/row-bgimage-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0px;
}