.image-container-grid{
    position: relative;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #6e6e6e;
    background-color: #fff;
    letter-spacing: 0px;

}