.inside-content-1 {
    @media(max-width: 1122px){

    }
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: #6e6e6e;
    background-color: #f7f9fe;;
}