.row-col-card{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    line-height: 90px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    background-color: #2d4a8a;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
}