.section-3-div{
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    background-color: inherit;
}