.section-title-header{
    margin-bottom: 52px;

}
.section-title-header{
  span:first-child{
    &::after{
      width: 52px;
      height: 4px;
      content: '';
      margin-top: 1rem;
      display: block;
      background-color: #2d4a8a;
      border-bottom-left-radius: 4Px;
      border-bottom-right-radius: 4Px;
    }
  }
}

    
