.section-4-title-h5{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
    color: #2d4a8a;
    font-family: "Poppins", sans-serif;
    transition: all .4s ease-in-out;
    margin-top: 0;
    letter-spacing: 0px

}