.section-4-title-h2{
    
        @media (max-width: 991px)
        {
        font-size: 26px !important;
        line-height: 36px;
        }
        font-size: 26px !important;
        line-height: 36px;
        margin-bottom: 0;
        text-align: center!important;
        letter-spacing: 0px;
        font-weight: 600;
        color: #263045;
        transition: all .4s ease-in-out;
        letter-spacing: 0px;
}

.section-4-title-h2::after{
    display: block;
    clear: both;
    content: "";
}