.section-4-title-span{
    
    @media (max-width: 991px)
    {
    font-size: 26px !important;
    line-height: 36px;
    }
    font-size: 26px !important;
    line-height: 36px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.2px;
    color: #2d4a8a;
    margin-top: 0;
}