.social-linkedin{
    overflow: visible;
    width: 4em;
    display: inline-block;
    font-size: inherit;
    height: 2em;
    vertical-align: -0.125em;
    line-height: 33px;
    text-align: center;
    list-style: none;
    content: url(../../assets/linkedin.svg);
}